@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&family=Roboto&display=swap");

body {
    display: flex;
    justify-content: center;
    align-self: center;
    box-sizing: border-box;
    background-color: #1a98b1d2;
    font-family: "Roboto", sans-serif;
    user-select: none;
}

input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 0.7rem;
    border: 2px solid black;
    background-color: #a7af7c;
    font-size: 1.3rem;
    padding: 1.6rem;
    letter-spacing: 0.06rem;
}

button {
    width: 4rem;
    height: 4rem;
    margin: 0.4rem;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0.35rem;
}

button:hover {
    background-color: white;
    color: black;
}

.clear {
    width: 9rem;
    background-color: red;
}

.container {
    box-shadow: 25px 25px 75px rgba(0, 0, 0, 0.25), 10px 10px 70px rgba(0, 0, 0, 0.25), inset -5px -5px 15px rgba(0, 0, 0, 0.25), inset 5px 5px 15px rgba(0, 0, 0, 0.25);
    padding: 1.8rem;
    margin: 2rem;
    border-radius: 2rem;
}

h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.03rem;
    text-align: center;
}

@media (max-width:768px) {
    html {
        font-size: 78%;
        margin-top: 20px;
    }
}